[Desktop Entry]
Encoding=UTF-8
Name=Link to File:Nuvola filesystems services.png - Wikimedia Commons
Type=Link
URL=http://commons.wikimedia.org/wiki/File:Nuvola_filesystems_services.png
Icon=text-html
